input[type="text"], input[type="email"], input[type="password"], input[type="tel"], input[type="submit"], textarea {
	border:1px solid #ccc;
	padding: 5px;
	margin-bottom: 5px;
}
ul {
		margin-bottom: 30px;
}
ul, li {
	float:left;
	list-style: none;
};

.login {
	width:500px;
	margin:0 auto;
}